body {
  margin: 0;
  background-color: #f5f5f5;
}

//PC导航
.navbar {
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: relative;
  padding: 0;
  margin: 0;

  .logo {
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .nav {
    list-style: none;
    font-size: 16px;
    line-height: 72px;
    float: left;
    margin: 0;
    padding: 0 0 0 32px;

    .active {
      color: #FD5D5D;
      font-weight: 700;
    }

    a {
      padding: 0;
      color: #555;
      text-decoration: none;
      display: block;
      width: 96px;
      text-align: center;
    }

    li {
      float: left;
    }
  }

  .search-warp {
    float: left;
    margin: 16px 0 0 30px;
    width: 220px;
    position: relative;

    .search-input {
      font-size: 14px;
      line-height: 40px;
      height: 40px;
      border-radius: 40px;
      padding: 0 36px 0 22px;
      border: none;
      background-color: #eee;
      width: 100%;
      color: #555;
    }

    .glyphicon-search {
      color: #9b9b9b;
      position: absolute;
      top: 10px;
      right: 17px;
      font-size: 21px;
    }

    .search-btn {
      font: 0/0 a;
      color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: 0 0;
      border: 0;
    }
  }

  .action-nav {
    //float: right;
    position: absolute;
    right: 0;
    list-style: none;
    height: 40px;
    margin: 16px 0 0;
    padding: 0;

    li {
      float: right;
    }

    .join-btn {
      color: white;
      background-color: red;
    }

    a {
      color: #555;
      font-size: 14px;
      line-height: 40px;
      display: block;
      padding: 0 22px;
      border-radius: 40px;
      text-decoration: none;
    }
  }

  .cdk-enter {
    //float: right;
    position: absolute;
    right: 12%;
    display: block;
    margin: 16px 10px 0 0;
    width: 150px;
    height: 40px;
    text-decoration: none;
    line-height: 40px;
    border-radius: 40px;
    color: #FD5D5D;
    border: 1px solid #FD5D5D;
    text-align: center;
    font-size: 14px;
  }
  .mobile-menu {
    display: none
  }
}

//手机屏导航
@media screen and (max-width: 767px) {
  .navbar {
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      .logo {
        width: 159px;
        height: 30px;
        position: relative;
        top: 50%;
        margin-top: 6px;
        left: 50%;
        margin-left: -80px;
      }

      .navbar-header {
        position: absolute;
        top: 5px;
        left: 30px;

        .mobile-menu, .menu-right {
          position: fixed;
          bottom: 0;
          top: 0;
          left: 0;
        }

        .mobile-menu {
          right: 0;
          z-index: 1000;
          background: rgba(0, 0, 0, .5);

          .menu-right {
            z-index: 1001;
            width: 270px;
            max-width: 100%;
            background: #fff;

            .menu-content {
              background: #fff;
              color: #999;

              .mobile-touch {
                width: 100%;
                height: 80px;
                background: #FD5D5D;

                a {
                  float: left;
                  width: 50%;
                  color: #fff;
                  text-align: center;
                  font-size: 18px;
                  line-height: 80px;
                  border-right: 1px solid #E85454;
                  text-decoration: none;
                }
              }

              .mobile-nav-list {
                margin: 0;
                padding: 12px 0;
                list-style-type: none;

                .active {
                  color: #FD5D5D;
                }

                a {
                  display: block;
                  padding: 20px 0 20px 32px;
                  font-size: 18px;
                  line-height: 18px;
                  color: #555;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .roll-area {
    .roll-list {
      a {
        height: 160px;
      }
    }
  }
}

//图片轮播滚动
.roll-area {
  max-width: 100%;
  position: relative;

  .roll-list {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

//PC纪录
.record {
  background: #fff;
  border-bottom: 1px solid #E5E5E5;

  .inner {
    max-width: 1024px;
    margin: 0 auto;

    ul {
      list-style: none;
      display: block;
      margin: 0;
      padding-left: 0;
      strong {
        font-size: 36px;
        color: #555;
        font-weight: 400;
        margin-right: 3px;
      }
      li {
        float: left;
        width: 20%;
        margin: 30px 0;
        border-left: 1px solid #ddd;
        text-align: center;
        font-size: 14px;
        color: #9B9B9B;
      }
      .one {
        border-left: none;
      }
      .three, .four {
        width: 30%;
      }
    }
  }
}

//手机纪录
@media screen and (max-width: 767px) {
  .record {
    .inner {
      ul {
        padding: 18px 0;
        li {
          font-size: 12px;
          border-left: none;
          width: 50%;
          margin: 0;
          padding-bottom: 18px;
          strong {
            font-size: 18px;
          }
        }
        .three, .four {
          width: 50%;
        }
        .three, .one {
          border-right: 1px solid #ddd;;
        }

      }
    }
  }
}

//视频播放链接
.video-info {
  background-color: #eaeaea;
  padding: 40px 0;

  .inner {
    text-align: center;

    .video-btn:first-child {
      margin-right: 30px;
    }

    .video-btn {
      position: relative;
      display: inline-block;
      width: 320px;
      height: 180px;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .video-info {
    padding: 24px 0;

    .inner {
      .video-btn:first-child {
        margin-right: 0;

      }
      .video-btn {
        width: 90%;
        max-width: 320px;
      }
    }
  }
}

//众筹展示
.section {
  margin: 50px auto;
  max-width: 1024px;
  .section-head {
    position: relative;
    h2 {
      color: #333;
      font-size: 24px;
      margin: 0;
      font-weight: 400;
    }
  }

  .projects {
    padding: 0;
    list-style: none;
    .card:hover {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
    }
    .card {
      background-color: #fff;
      margin-top: 24px;
      overflow: hidden;
      border: 1px solid #ddd;
      border-radius: 6px;

      .card-img {
        width: 33%;
        overflow: hidden;
        display: block;
        position: relative;
        border-radius: 6px 0 0 6px;
        float: left;
        img {
          display: block;
          width: 100%;
          height: 275px;
        }
      }

      .card-body {
        width: 57%;
        float: right;
        position: relative;
        padding: 30px 24px 0 0;

        h3 {
          margin: 0;
          font-size: 24px;
          line-height: 1.2em;
          a {
            color: #4a4a4a;
            text-decoration: none;
            span {
              font-size: 16px;
              font-weight: 400;
            }
          }
        }

        .sub {
          font-size: 14px;
          margin-top: 6px;
          p {
            margin: 0;
            padding-left: 14px;
            float: left;
          }
          .sub-location {
            padding: 0;
            color: #9b9b9b;
            margin-right: 16px;
          }
          .sub-new {
            color: #E77F7F;
          }
        }
        .face-photo {
          position: absolute;
          top: 30px;
          right: 20px;
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 25px;
        }

      }

      .time-count {
        margin: 90px 0 12px;
        border-radius: 6px;
        border: 1px solid #51D090;
        padding: 8px 0;
        color: #51D090;
        font-size: 14px;
        text-align: center;
        .time-inner {
          margin: 0 5px;
        }
      }

      .detail {
        list-style: none;
        padding: 0;
        li {
          float: left;
          width: 26%;
        }
        .people {
          width: 22%;
        }
        .number {
          display: block;
          font-size: 28px;
          margin-bottom: 12px;
          color: #555;
          font-weight: 400;
          .f-small {
            font-size: 14px;
          }
        }
        .f-label {
          font-size: 14px;
          color: #9b9b9b;
        }
      }

      .progress-last {
        margin: 120px 0 12px;
        height: 8px;
        border-radius: 40px;
        background: #d8d8d8;
        overflow: hidden;
        .progress-red {
          max-width: 100%;
          height: 100%;
          float: left;
          background: #FD5D5D;
        }
      }
    }
  }
}

//手机众筹展示
@media screen and (max-width: 767px) {
  .section {
    padding: 0 16px;
    .projects {
      .card {
        margin-top: 16px;
        .card-img {
          width: 100%;
          float: none;
          border-radius: 6px 6px 0 0;
        }
        .card-body {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          padding: 24px 16px 16px;
          float: none;
          .face-photo {
            display: none;
          }
          .time-count {
            text-align: center;
            margin-top: 35px;
            font-size: 12px;
            padding: 6px 0;
          }
          .detail {
            padding: 10px 0 6px;
            margin: 0;
            .number {
              font-size: 16px;
              margin-bottom: 3px;
              .f-small {
                font-size: 10px;
              }
            }
            .f-label {
              font-size: 10px;
            }
          }
          .progress-last {
            margin: 45px 0 10px;
          }
        }
      }
    }
  }
}

//众筹成功
.section {
  .read-more {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    color: #999;
    border-color: #ccc;
    background: #fff;
    padding: 0 16px;
    display: none;
  }
  .complete {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    .margin {
      margin-right: 0;
    }
    .c-projects {
      width: 31.25%;
      float: left;
      height: 240px;
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      margin-right: 3.125%;
      margin-bottom: 20px;
      img {
        display: block;
        width: 100%;
      }
      .text-info {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 40px;
        width: 100%;
        padding: 20px 0 0 20px;
        color: #fff;
        h4 {
          font-size: 24px;
        }
        .sub-location {
          font-size: 12px;
          position: absolute;
          left: 25px;
          bottom: 10px;
          padding-left: 12px;
          span {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      .number-info {
        width: 100%;
        background-color: #fff;
        margin: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        color: #9b9b9b;;
        font-size: 14px;
        padding: 15px;
        strong {
          color: #555;
          margin: 0 20px 0 6px;
        }
      }
      .complete-icon {
        width: 64px;
        height: 64px;
        position: absolute;
        right: 16px;
        bottom: 16px;
        background-color: #FD5D5D;
        border-radius: 64px;
        padding: 2px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        strong {
          display: block;
          border: 1px solid #fff;
          border-radius: 60px;
          height: 100%;
          line-height: 20px;
          padding-top: 10px;
        }
      }
    }

  }
}

//手机众筹成功
@media screen and (max-width: 767px) {
  .section {
    .read-more {
      display: block;
      border-radius: 20px;
    }
    .complete {
      .c-projects {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }
}

//即将上线
.list-head {
  max-width: 1024px;
  margin: 50px auto 20px;
}

.coming-list {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EAEAEA;
  .list-inner {
    max-width: 1024px;
    margin: 0 auto;
    .lists {
      float: left;
      margin: 10px 10px 10px 12px;
      img {
        width: 100%;
        display: block;
      }
    }
  }
}

//手机即将上线
@media screen and (max-width: 767px) {
  .list-head {
    padding: 0 16px;
  }
  .coming-list {
    padding-top: 15px;
    padding-bottom: 15px;
    .list-inner {
      padding-left: 16px;
      padding-right: 16px;
      .lists {
        width: 48%;
        margin: 2% 1% 2% 1%;
      }
    }
  }
}

//众筹资讯
.articles {
  margin: 25px auto 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  .article-link {
    width: 40%;
    height: 280px;
    margin-right: 2%;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    position: relative;
    float: left;
    .overlay {
      background-color: rgba(0, 0, 0, .8);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 22px 23px;
      h4 {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 16px;
      }
      p {
        font-size: 13px;
        line-height: 24px;
        margin: 0;
        height: 144px;
        overflow: hidden;
      }
    }
  }
  .article-list {
    width: 58%;
    float: right;
    padding: 20px 20px 20px 0;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        padding-right: 50px;
        a {
          font-size: 14px;
          color: #555;
          display: block;
          white-space: nowrap;
          margin-bottom: 24px;
          overflow: hidden;
          text-decoration: none;
        }
        span {
          position: absolute;
          right: 0;
          top: 0;
          color: #aaa;
          font-size: 14px;
        }
      }
    }
    a {
      color: #FD5D5D;
      margin-bottom: 0;
      text-decoration: none;
    }
  }
}

//手机众筹资讯
@media screen and (max-width: 767px) {
  .section {
    .articles {
      .article-link {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        .overlay {
          padding: 20px 16px;
        }
      }
      .article-list {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 18px 16px;
      }
    }
  }
}

//资讯向导
.guide {
  background: #ffffff;
  border-top: 1px solid #eeeeee;
  a {
    text-decoration: none;
  }
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0;
    article:first-child {
      border-right: 1px solid #eeeeee;
    }
    article {
      float: left;
      width: 50%;
      line-height: 1.6;
      padding: 0 60px;
      text-align: center;
      h3 {
        font-size: 26px;
        font-weight: 500;
        color: black;
      }
      p {
        color: #777;
        .help-link {
          color: #fd5d5d;
        }
      }
      .action {
        margin: 30px 0;
        .btn {
          width: 120px;
          font-size: 16px;
          border-radius: 40px;
        }
        .btn-sign {
          color: #fff;
          background-color: #FD5D5D;
        }
        .btn-secondary {
          color: #fff;
          background-color: #40DDE5;
        }
      }
    }
  }
}

//手机资讯向导
@media screen and (max-width: 767px) {
  .guide {
    .container {
      padding: 30px 0;
      .phone-hidden {
        display: none;
      }
      article {
        width: 100%;
        padding: 0 20px;
      }
    }
  }
}

//页脚
footer {
  background-color: #4a4a4a;
  a:hover {
    color: #fff;
  }
  ul {
    list-style: none
  }
  .footer-info {
    padding: 80px 0 70px;
    .inner {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      h4 {
        color: #fff;
        opacity: .7;
        margin: 0 0 24px;
        font-size: 18px;
      }
      .help-links {
        margin-right: 80px;
        ul {
          padding: 0;
          margin: 0;
          li {
            font-size: 14px;
            line-height: 2em;
            margin-bottom: 4px;
            a:hover {
              color: #ffffff;
            }
            a {
              color: #919394;
              text-decoration: none;
            }
          }
        }
      }
      .contact-links {
        .airline {
          color: #fff;
          font-size: 30px;
          font-weight: 700;
          margin: 0;
          opacity: .4;
          span {
            display: block;
            font-size: 14px;
            margin-top: 10px;
            font-weight: 400;
          }
        }
        .weibo-link {
          font-size: 14px;
          margin-top: 50px;
          display: block;
          color: #fff;
          opacity: .4;
        }
      }
      .fl {
        float: left;
      }
      .fr {
        float: right;
      }
      .code {
        margin-left: 20px;
        img {
          width: 120px;
          height: 120px;
        }
        span {
          display: block;
          text-align: center;
          margin-top: 16px;
          font-size: 14px;
          color: #ccc;
        }
      }
    }
  }
  .foot-bottom {
    .phone-show{
      display: none;
    }
    .inner {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid #666;
      padding: 10px 0;
      .icp {
        float: right;
        color: #919394;
        font-size: 12px;
        line-height: 24px;
        margin: 0;
        padding: 0 8px;
        a {
          color: #919394;
          text-decoration: none;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          float: left;
          padding: 0 8px;
          a:hover {
            color: #ffffff;
          }
          a {
            color: #919394;
            text-decoration: none;
            font-size: 12px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

//手机页脚
@media screen and (max-width: 767px) {
  footer {
    .phone-hidden {
      display: none;
    }
    .foot-bottom {
      .inner {
        .icp{
          float: left;
        }
        .phone-show {
          display: block;
        }
      }
    }
  }
}