*{
    margin: 0;
    padding: 0;
    list-style: none;
}

#box{
    width: 600px;
    height: 250px;
    margin: auto;
}

#title,li,#tip,#judge{
    padding: 10px 5px;
}

#tip a,label{
    margin-left: 20px;
}

#right{
    width: 300px;
    height: 200px;
    float: right;
    margin: 50px 50px;
    color: red;
}